.hall__container {
  position: relative;
  background: #f5f7f8;
  padding-top: 3rem;
}

.wrapper-img {
  flex: 1.5;
}

.product-grid {
  display: grid;
  gap: 1rem;
  margin-top: 3rem;
}

.product-grid * {
  box-sizing: border-box;
}

.product-grid .img-prud {
  min-height: 200px;
}

.product-grid .img-product {
  height: 200px;
  background-size: cover;
  max-width: 50%;
  display: block;
  object-fit: contain;
}

.product-grid .img-product.open {
  cursor: zoom-out;
  position: fixed;
  max-width: 100%;
  top: 30%;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  z-index: 1;
  width: 100vw;
  height: auto;
}

.menubar {
  width: 95%;
  padding: 3% 3%;
  display: flex;
  flex-direction: row;
  top: 0;
  z-index: 10;
  align-items: center;
  background-color: white;
  left: 50%;
  margin-bottom: 1.5rem;
  position: sticky;
  top: 0;
}

@media (min-width: 500px) {
  .product-grid {
    row-gap: calc(2rem + 1%);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .product-grid .product {
    display: flex;
    flex-direction: column;
  }
  .product-grid .product .img-product {
    flex: 1.5;
    display: block;
    cursor: zoom-in;
    object-fit: fill;
  }
  .product-grid .product .img-product.open {
    cursor: zoom-out;
    position: fixed;
    max-width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    z-index: 1;
  }
  .product-grid .product .cart-body {
    background-color: white;
    padding: 1rem;
    flex: 1;
    box-sizing: border-box;
  }
  .product-grid .product .producto__nombre {
    margin: 0;
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
    text-align: left;
  }
  .product-grid .product .producto__nombre.encojer {
    font-size: 0.8rem;
  }
  .product-grid .product .producto__nombre a {
    text-decoration: none;
    color: #2f243a;
  }
  .product-grid .product .producto__brand {
    margin: 0;
    color: darkslategray;
    font-size: 0.7rem;
    text-align: left;
  }
  .product-grid .product .flex-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
  }
  .product-grid .product .flex-wrapper .producto__price {
    margin: 0;
    font-size: 1.3rem;
    color: #111;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .product-grid .product .pseudo-wrap {
    display: flex;
  }
  .product-grid .product .pseudo-wrap .cartt {
    width: 30px;
    height: 30px;
    transform: scale(0.8);
    margin: auto;
    fill: #444054;
    cursor: pointer;
  }
}

.categories {
  margin: 0;
  top: 190px;
  transition: transform 0.4s ease;
  padding: 0.5rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  min-height: 0px;
}

.categories.close {
  transform: translateX(-100%);
}

.abridor {
  cursor: zoom-out;
  position: fixed;
  max-width: 100%;
  max-height: 100%;
  top: 20%;
  width: auto;
  z-index: 1;
  margin: 0 auto;
  left: 1rem;
  right: 1rem;
}

.abridor img {
  height: auto;
  width: 100%;
  max-height: 100%;
}

@media (min-width: 500px) {
  .product-grid {
    margin: 0 auto;
    width: 95%;
    gap: 1rem;
  }
  .product-grid .product .img-product {
    max-width: 100%;
  }
  .categories {
    writing-mode: unset;
  }
  .categories.close {
    transform: translateX(-200%);
  }
  .abridor {
    left: 10%;
    right: 10%;
  }
}

@media (min-width: 800px) {
  .hall__container {
    margin: 1rem;
  }
  .product-grid {
    width: 85%;
  }
  .product-grid .product .img-product.open {
    cursor: zoom-out;
    position: fixed;
    max-width: 50%;
    max-height: 80%;
    top: 10%;
    width: auto;
    z-index: 1;
    margin: 0 auto;
  }
  .abridor {
    cursor: zoom-out;
    position: fixed;
    max-width: 50%;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    z-index: 1;
    margin: 0 auto;
  }
  .abridor img {
    max-height: 100% !important;
  }
  .menubar {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    padding: 0 7.5%;
  }
}

.aside {
  position: fixed;
  background-color: #444054;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  min-width: 100px;
  top: 0;
  height: 100%;
  z-index: 1;
  box-sizing: border-box;
}

.aside.open {
  transform: translateX(0);
}

.aside ul {
  padding: 0;
  margin: 0;
}

.aside ul li {
  list-style: none;
  color: white;
  cursor: pointer;
  transition: color 0.1s ease-in;
  padding: 1rem 1.5rem;
  border-top: 1px solid silver;
}

.aside ul li:last-of-type {
  border-bottom: 1px solid silver;
}

.aside ul li:hover {
  color: orange;
}

.header-aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  position: relative;
}

.header-aside span {
  position: absolute;
  right: 5px;
  top: 5px;
}

.search-name {
  width: 0px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 0;
  border: 0;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  height: 39px;
}

.search-name.animated {
  animation: grow 0.5s ease forwards;
}

.btn-search-name {
  position: relative;
  z-index: 1;
  display: inline-block;
  height: 39px;
  border: none;
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  width: 100;
  background: none;
  outline: none;
  background: #444054;
}

.btn-search-name svg {
  fill: white;
}

.responsive-inner {
  display: flex;
}

.select-overflow {
  transition: transform 0.3s ease;
}

.select-overflow.animated {
  transform: translateX(-27px);
}

.filter__container {
  top: 0;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0.5rem;
  flex-wrap: wrap;
  z-index: 1;
  backdrop-filter: blur(5px);
  box-sizing: border-box;
  border: 1px solid #951af9;
}

.filter__container .hide-svg {
  opacity: 0;
}

#spanAnimated.left {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

#spanAnimated.left.animated {
  opacity: 0;
  transition: opacity 0.15s ease;
}

#spanAnimated.right {
  display: flex;
  transition: transform 0.15s ease;
}

#spanAnimated.right.animated {
  transform: translateX(50px);
}

.close-search {
  position: relative;
  left: 172px;
  top: -14px;
}

@media (min-width: 700px) {
  .filter__container {
    flex-direction: row;
    padding: 1rem;
  }
  .search-name {
    width: 0;
    border-radius: 0;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
  .search-name.animated {
    transform-origin: right;
    animation: grow 0.5s ease forwards;
  }
  .close-search {
    position: relative;
    left: -20px;
    top: -15px;
  }
}

@keyframes grow {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes growAndMove {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1) translateX(-22px);
  }
}

@keyframes translateRight {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(300px);
  }
}

@keyframes translateRightShort {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(50px);
  }
}

@keyframes showAfterGrow {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes showAfterGrowSM {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-25px);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateX(-23px);
  }
}

.svg-icons {
  cursor: pointer;
}

.img-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.img-overlay.open {
  pointer-events: auto;
  opacity: 1;
}

.wrapper-prueba {
  width: 200px;
}

.img-wrapp {
  height: 10;
}

.products-error {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.products-error p {
  color: white;
  background-color: red;
  border-radius: 5px;
  max-width: 80%;
  padding: 3px;
}

.stik {
  background-color: red !important;
}

.sticky-wrapper {
  position: relative;
  min-height: 3rem;
  /* We need to change this value */
}

.sticky-inner {
  transition: position 66ms ease;
  display: flex;
  flex-direction: row;
  z-index: 100;
  position: sticky;
  background-color: blue;
}

.sticky .sticky-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ripple {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: 100%;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #3848a2;
}
