@mixin box-shadow {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
}
.container-details {
    position: relative;
}
.details-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    align-items: flex-start;
    min-height: 100vh;
    .img-wrapper {
        width: 95vw;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        flex: 1;

        .description1 {
            @include box-shadow();
            padding: 0.5rem;
            flex: 1;
            padding: 1rem;
            border-radius: 0.5rem;
            margin-bottom: 1rem;
        }

        .description2 {
            @include box-shadow();
            padding: 0.5rem;
            border-radius: 0.5rem;
            flex: 1;
            padding-bottom: 1.5rem;
            select {
                padding: 1rem;
                padding-right: 1.5rem;
            }
        }
    }

    .button-pnp {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 0.3rem;
        border: 1px solid silver;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        font-family: Arial;
        cursor: pointer;

        // &.with-loader{
        //     position: relative;
        // }
    }
}

.altura--corr {
    position: relative;
    top: 3px;
}
@media (min-width: 700px) {
    .details-wrapper {
        .img-wrapper {
            width: 50vw;
            max-height: 80vh;
            object-fit: contain;
        }

        .flex-container {
            align-items: flex-start;
            align-items: stretch;
        }
    }
}

@media (min-width: 980px) {
    .details-wrapper {
        .flex-container {
            .description1 {
                padding: 1rem;
                width: calc(350px + 10vw);
            }
            .description2 {
                padding: 1rem;
                width: calc(350px + 10vw);
            }
        }
    }
}

.reviews-container {
    position: relative;
    margin-bottom: -3rem;
    padding: 1rem;
    h1 {
        margin-bottom: 0;
    }
    .reviews {
        padding: 0;
        li {
            background-color: lightgoldenrodyellow;
            border-radius: 0.5rem;
            list-style: none;
            padding: 0.5rem;
            margin-bottom: 0.8rem;

            .comment {
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }

            .review-item {
                display: flex;
                align-items: center;
            }
            .author {
                margin-bottom: 0.5rem;
                margin-top: 0.5rem;
                text-align: right;
            }
        }
    }
}

.review-btn {
    padding: 0.6rem 1.1rem;
    background: none;
    border: 1px solid silver;
    border-radius: 0.3rem;
    outline: none;
    cursor: pointer;
}

@media (min-width: 600px) {
    .reviews-container {
        padding: 1.5rem;
    }
}
@media (min-width: 900px) {
    .reviews-container {
        .reviews {
            li {
                width: 900px;
                padding: 1rem;
                margin-bottom: 1.8rem;
            }
        }
    }
}
@media (min-width: 1200px) {
    .reviews-container {
        padding: 2rem;
        .reviews {
            padding: 0;
        }

        h1 {
            font-size: 3rem;
        }
    }
}
