.checkout__wrap {
    min-height: 85vh;
}

.checkout__container {
    .info {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
    }
    .info__section {
        //background: $main-color;
        border-radius: 7px;
        margin: 20px auto;
        box-sizing: border-box;

        //media
        padding: 0.7rem;
        padding-bottom: 0.4rem;
        padding-top: 0.4rem;

        h2 {
            margin-top: 0.5rem;
        }

        .shippingInfo {
            display: flex;
            flex-wrap: wrap;

            p {
                margin: 0 10px;
                margin-top: 1rem;
                margin-left: 0;
            }
        }

        &:last-of-type {
            padding-bottom: 1rem;

            .floatedd {
                display: flex;
                flex-direction: row-reverse;
                margin-bottom: 0.5rem;
                margin-top: 0;
            }

            .item__table {
                display: grid;
                grid-template-columns: auto 1fr auto;
                border-top: 0.1rem solid silver;
                padding-top: 0.3rem;
                margin-bottom: 0.5rem;

                &:last-of-type {
                    padding-bottom: 0.3rem;
                }

                img {
                    max-height: 100px;
                }
                .priceC {
                    text-align: right;
                    padding-left: 0.5rem;
                }
                .cell__2 {
                    padding-left: 0.2rem;
                }
            }
        }
    }
}

.summary {
    border-radius: 7px;

    .btn__principal {
        display: inline-block;
        width: 100%;
        padding: 1rem;
    }
    .button-pnp {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 0.3rem;
        border: 1px solid silver;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        font-family: Arial;
        cursor: pointer;
    }
}

@media (min-width: 400px) {
    .checkout__container {
        .info {
            .info__section {
                &:last-of-type {
                    .item__table {
                        .priceC {
                            padding-left: 2rem;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 600px) {
    .checkout__container {
        padding: 1rem;
        .info {
            padding: 1.5rem;

            .info__section {
                &:last-of-type {
                    .item__table {
                        .cell__2 {
                            padding-left: 0.5rem;
                        }
                        .priceC {
                            padding-left: 2rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 800px) {
    .checkout__container {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: auto 1fr;

        .summary {
            //padding-top: 1.2rem;
            margin-top: 20px;
            margin-left: 15px;
            height: fit-content;
        }
    }
}

.checkout__wrap {
    .MuiBreadcrumbs-separator {
        margin-top: 15px;
        margin-left: -2px !important;
    }
}
