header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #444054;
  position: relative;
  z-index: 100;
  margin: 0;
}

header .logo {
  font-size: 1.5rem;
  color: white;
}

header .burger {
  cursor: pointer;
  display: block;
  transition: transform 0.4s ease;
  fill: white;
}

header .burger.close {
  transform: translateY(-70px);
}

header nav {
  display: none;
}

header nav li {
  list-style: none;
  color: white;
}

header nav .dropdown-list {
  opacity: 0;
  padding: 0;
}

@media (min-width: 500px) {
  header {
    justify-content: flex-start;
  }
  header .logo {
    flex: 2;
  }
  header .burger {
    display: none;
  }
  header nav {
    display: block;
    position: relative;
    flex: 1;
    margin: 0;
  }
  header nav .nav-list {
    display: flex;
    margin-right: 2rem;
    align-items: center;
    margin: 0;
  }
  header nav .nav-list .nav-item {
    flex: 1;
    cursor: pointer;
    position: relative;
    align-self: stretch;
    justify-content: center;
    border-left: 1px solid white;
    padding: 0 1rem;
  }
  header nav .nav-list .nav-item.with-cart {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header nav .nav-list .nav-item.with-cart div {
    transform: translateX(25px);
    background-color: #ff6868;
    border-radius: 50%;
    height: 20px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header nav .nav-list .nav-item .text-center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header nav .nav-list .nav-item a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease;
  }
  header nav .nav-list .nav-item a:hover {
    color: orange;
  }
  header nav .nav-list .nav-item .dropdown-list {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s ease;
    visibility: hidden;
    border: none;
  }
  header nav .nav-list .nav-item .dropdown-list ul {
    background-color: #444054;
    padding: 1rem;
    border-radius: 5px;
    width: 100px;
    transform: translate(-17px, 15px);
    border: none;
  }
  header nav .nav-list .nav-item .dropdown-list::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #444054;
  }
  header nav .nav-list .nav-item .dropdown-list.open {
    opacity: 1;
    visibility: visible;
  }
  header nav .nav-list .nav-item .dropdown-list li {
    margin: 1rem auto;
  }
}

.movile-dropdown {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  transform: translateX(280px);
  width: 200px;
  background-color: lightblue;
  margin-top: 0;
  padding: 1rem 1.5rem;
  transition: transform 0.5s ease;
}

.movile-dropdown.open {
  transform: translateX(0px);
}

.movile-dropdown li {
  list-style: none;
  cursor: pointer;
  margin: 1.5rem auto;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.movile-dropdown li.arrow {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.movile-dropdown li a {
  text-decoration: none;
  transition: color 0.2s ease;
  color: white;
}

.movile-dropdown li a:hover {
  color: orange;
}

@keyframes fadeInRight {
  from {
    transform: translateX(200px);
  }
  to {
  }
}

.hall__container {
  position: relative;
  background: #f5f7f8;
  padding-top: 3rem;
}

.wrapper-img {
  flex: 1.5;
}

.product-grid {
  display: grid;
  gap: 1rem;
  margin-top: 3rem;
}

.product-grid * {
  box-sizing: border-box;
}

.product-grid .img-prud {
  min-height: 200px;
}

.product-grid .img-product {
  height: 200px;
  background-size: cover;
  max-width: 50%;
  display: block;
  object-fit: contain;
}

.product-grid .img-product.open {
  cursor: zoom-out;
  position: fixed;
  max-width: 100%;
  top: 30%;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  z-index: 1;
  width: 100vw;
  height: auto;
}

.menubar {
  width: 95%;
  padding: 3% 3%;
  display: flex;
  flex-direction: row;
  top: 0;
  z-index: 10;
  align-items: center;
  background-color: white;
  left: 50%;
  margin-bottom: 1.5rem;
  position: sticky;
  top: 0;
}

@media (min-width: 500px) {
  .product-grid {
    row-gap: calc(2rem + 1%);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .product-grid .product {
    display: flex;
    flex-direction: column;
  }
  .product-grid .product .img-product {
    flex: 1.5;
    display: block;
    cursor: zoom-in;
    object-fit: fill;
  }
  .product-grid .product .img-product.open {
    cursor: zoom-out;
    position: fixed;
    max-width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    z-index: 1;
  }
  .product-grid .product .cart-body {
    background-color: white;
    padding: 1rem;
    flex: 1;
    box-sizing: border-box;
  }
  .product-grid .product .producto__nombre {
    margin: 0;
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
    text-align: left;
  }
  .product-grid .product .producto__nombre.encojer {
    font-size: 0.8rem;
  }
  .product-grid .product .producto__nombre a {
    text-decoration: none;
    color: #2f243a;
  }
  .product-grid .product .producto__brand {
    margin: 0;
    color: darkslategray;
    font-size: 0.7rem;
    text-align: left;
  }
  .product-grid .product .flex-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
  }
  .product-grid .product .flex-wrapper .producto__price {
    margin: 0;
    font-size: 1.3rem;
    color: #111;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .product-grid .product .pseudo-wrap {
    display: flex;
  }
  .product-grid .product .pseudo-wrap .cartt {
    width: 30px;
    height: 30px;
    transform: scale(0.8);
    margin: auto;
    fill: #444054;
    cursor: pointer;
  }
}

.categories {
  margin: 0;
  top: 190px;
  transition: transform 0.4s ease;
  padding: 0.5rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  min-height: 0px;
}

.categories.close {
  transform: translateX(-100%);
}

.abridor {
  cursor: zoom-out;
  position: fixed;
  max-width: 100%;
  max-height: 100%;
  top: 20%;
  width: auto;
  z-index: 1;
  margin: 0 auto;
  left: 1rem;
  right: 1rem;
}

.abridor img {
  height: auto;
  width: 100%;
  max-height: 100%;
}

@media (min-width: 500px) {
  .product-grid {
    margin: 0 auto;
    width: 95%;
    gap: 1rem;
  }
  .product-grid .product .img-product {
    max-width: 100%;
  }
  .categories {
    writing-mode: unset;
  }
  .categories.close {
    transform: translateX(-200%);
  }
  .abridor {
    left: 10%;
    right: 10%;
  }
}

@media (min-width: 800px) {
  .hall__container {
    margin: 1rem;
  }
  .product-grid {
    width: 85%;
  }
  .product-grid .product .img-product.open {
    cursor: zoom-out;
    position: fixed;
    max-width: 50%;
    max-height: 80%;
    top: 10%;
    width: auto;
    z-index: 1;
    margin: 0 auto;
  }
  .abridor {
    cursor: zoom-out;
    position: fixed;
    max-width: 50%;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    z-index: 1;
    margin: 0 auto;
  }
  .abridor img {
    max-height: 100% !important;
  }
  .menubar {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    padding: 0 7.5%;
  }
}

.aside {
  position: fixed;
  background-color: #444054;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  min-width: 100px;
  top: 0;
  height: 100%;
  z-index: 1;
  box-sizing: border-box;
}

.aside.open {
  transform: translateX(0);
}

.aside ul {
  padding: 0;
  margin: 0;
}

.aside ul li {
  list-style: none;
  color: white;
  cursor: pointer;
  transition: color 0.1s ease-in;
  padding: 1rem 1.5rem;
  border-top: 1px solid silver;
}

.aside ul li:last-of-type {
  border-bottom: 1px solid silver;
}

.aside ul li:hover {
  color: orange;
}

.header-aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  position: relative;
}

.header-aside span {
  position: absolute;
  right: 5px;
  top: 5px;
}

.search-name {
  width: 0px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 0;
  border: 0;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  height: 39px;
}

.search-name.animated {
  animation: grow 0.5s ease forwards;
}

.btn-search-name {
  position: relative;
  z-index: 1;
  display: inline-block;
  height: 39px;
  border: none;
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  width: 100;
  background: none;
  outline: none;
  background: #444054;
}

.btn-search-name svg {
  fill: white;
}

.responsive-inner {
  display: flex;
}

.select-overflow {
  transition: transform 0.3s ease;
}

.select-overflow.animated {
  transform: translateX(-27px);
}

.filter__container {
  top: 0;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0.5rem;
  flex-wrap: wrap;
  z-index: 1;
  backdrop-filter: blur(5px);
  box-sizing: border-box;
  border: 1px solid #951af9;
}

.filter__container .hide-svg {
  opacity: 0;
}

#spanAnimated.left {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

#spanAnimated.left.animated {
  opacity: 0;
  transition: opacity 0.15s ease;
}

#spanAnimated.right {
  display: flex;
  transition: transform 0.15s ease;
}

#spanAnimated.right.animated {
  transform: translateX(50px);
}

.close-search {
  position: relative;
  left: 172px;
  top: -14px;
}

@media (min-width: 700px) {
  .filter__container {
    flex-direction: row;
    padding: 1rem;
  }
  .search-name {
    width: 0;
    border-radius: 0;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
  .search-name.animated {
    transform-origin: right;
    animation: grow 0.5s ease forwards;
  }
  .close-search {
    position: relative;
    left: -20px;
    top: -15px;
  }
}

@keyframes grow {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes growAndMove {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1) translateX(-22px);
  }
}

@keyframes translateRight {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(300px);
  }
}

@keyframes translateRightShort {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(50px);
  }
}

@keyframes showAfterGrow {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes showAfterGrowSM {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-25px);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateX(-23px);
  }
}

.svg-icons {
  cursor: pointer;
}

.img-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.img-overlay.open {
  pointer-events: auto;
  opacity: 1;
}

.wrapper-prueba {
  width: 200px;
}

.img-wrapp {
  height: 10;
}

.products-error {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.products-error p {
  color: white;
  background-color: red;
  border-radius: 5px;
  max-width: 80%;
  padding: 3px;
}

.stik {
  background-color: red !important;
}

.sticky-wrapper {
  position: relative;
  min-height: 3rem;
  /* We need to change this value */
}

.sticky-inner {
  transition: position 66ms ease;
  display: flex;
  flex-direction: row;
  z-index: 100;
  position: sticky;
  background-color: blue;
}

.sticky .sticky-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ripple {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: 100%;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #3848a2;
}

.cart-wrapper {
  min-height: 80vh;
  margin-bottom: 4rem;
}

.cart {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  box-sizing: border-box;
  margin: 0 10px;
  margin-top: 1rem;
}

.cart * {
  box-sizing: border-box;
}

.cart .right {
  width: 100%;
  box-sizing: border-box;
  box-sizing: border-box;
  grid-row: 1/1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 16px 40px -12.125px rgba(0, 0, 0, 0.3);
}

.cart .right .header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 0.5rem;
}

.cart .right .header .price-title {
  display: flex;
  flex-direction: column-reverse;
  font-size: 1.5rem;
  margin-bottom: 0;
  transform: translateX(-5px);
}

.cart .right .header h1 {
  margin-left: 0.5rem;
}

.cart .right .cart-content {
  padding: 1rem 0.5rem;
  position: relative;
  display: flex;
  width: 100%;
}

.cart .right .cart-content img {
  max-height: 100px;
}

.cart .right .cart-content .info-cart {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  flex-wrap: wrap;
  flex: 1;
  flex-basis: auto;
}

.cart .right .cart-content .info-cart h3 {
  margin-top: 0;
}

.cart .right .cart-content .info-cart .info-cantidad {
  display: flex;
  flex-wrap: wrap;
}

.cart .right .cart-content .info-cart a {
  text-decoration: none;
}

.cart .right .cart-content .cart-price {
  display: flex;
  flex-direction: row-reverse;
  flex: 1 1 0;
  position: relative;
  right: 10px;
}

.cart .resumen {
  box-sizing: border-box;
  margin-top: 2rem;
  margin: 0 auto;
  grid-row: 2/-1;
}

.cart .resumen .box {
  padding: 1rem;
  height: auto;
  border-radius: 0.4rem;
  background-color: lightgrey;
  margin-top: 1rem;
  margin: 0 auto;
}

.cart .resumen .box span {
  word-break: break-all;
}

.cart .resumen .box .button-pnp {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 0.3rem;
  border: 1px solid silver;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-family: Arial;
  cursor: pointer;
}

.cart .resumen .box .box-total {
  font-size: 1.2rem;
  font-weight: bold;
}

@media (min-width: 450px) {
  .cart {
    width: auto;
  }
  .cart .right {
    width: auto;
  }
  .cart .right .header .price-title {
    position: relative;
    right: 5px;
  }
  .cart .resumen {
    width: 300px;
  }
}

@media (min-width: 1000px) {
  .cart {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 0;
    margin: 4rem calc(1rem + 2%);
    margin-bottom: 0;
    box-sizing: border-box;
  }
  .cart .right {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  .cart .right .header {
    padding: 1rem;
  }
  .cart .right .header .price-title {
    position: relative;
    right: 0;
  }
  .cart .resumen {
    grid-column: 2/-1;
    grid-row: 1/1;
    margin-top: 0;
  }
  .cart .resumen .box {
    margin-left: 0.5rem;
  }
}

.checkout__wrap {
  min-height: 85vh;
}

.checkout__container .info {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
}

.checkout__container .info__section {
  border-radius: 7px;
  margin: 20px auto;
  box-sizing: border-box;
  padding: 0.7rem;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
}

.checkout__container .info__section h2 {
  margin-top: 0.5rem;
}

.checkout__container .info__section .shippingInfo {
  display: flex;
  flex-wrap: wrap;
}

.checkout__container .info__section .shippingInfo p {
  margin: 0 10px;
  margin-top: 1rem;
  margin-left: 0;
}

.checkout__container .info__section:last-of-type {
  padding-bottom: 1rem;
}

.checkout__container .info__section:last-of-type .floatedd {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.checkout__container .info__section:last-of-type .item__table {
  display: grid;
  grid-template-columns: auto 1fr auto;
  border-top: 0.1rem solid silver;
  padding-top: 0.3rem;
  margin-bottom: 0.5rem;
}

.checkout__container .info__section:last-of-type .item__table:last-of-type {
  padding-bottom: 0.3rem;
}

.checkout__container .info__section:last-of-type .item__table img {
  max-height: 100px;
}

.checkout__container .info__section:last-of-type .item__table .priceC {
  text-align: right;
  padding-left: 0.5rem;
}

.checkout__container .info__section:last-of-type .item__table .cell__2 {
  padding-left: 0.2rem;
}

.summary {
  border-radius: 7px;
}

.summary .btn__principal {
  display: inline-block;
  width: 100%;
  padding: 1rem;
}

.summary .button-pnp {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 0.3rem;
  border: 1px solid silver;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-family: Arial;
  cursor: pointer;
}

@media (min-width: 400px) {
  .checkout__container .info .info__section:last-of-type .item__table .priceC {
    padding-left: 2rem;
  }
}

@media (min-width: 600px) {
  .checkout__container {
    padding: 1rem;
  }
  .checkout__container .info {
    padding: 1.5rem;
  }
  .checkout__container .info .info__section:last-of-type .item__table .cell__2 {
    padding-left: 0.5rem;
  }
  .checkout__container .info .info__section:last-of-type .item__table .priceC {
    padding-left: 2rem;
  }
}

@media (min-width: 800px) {
  .checkout__container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto 1fr;
  }
  .checkout__container .summary {
    margin-top: 20px;
    margin-left: 15px;
    height: fit-content;
  }
}

.checkout__wrap .MuiBreadcrumbs-separator {
  margin-top: 15px;
  margin-left: -2px !important;
}

.signin-wrapper {
  min-height: 82vh;
}

.payment-mask {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  background: black;
  opacity: 0.5;
  visibility: visible;
  transition: opacity 0.5s ease;
  display: flex;
  flex-direction: column;
}

.payment-mask.hide {
  visibility: hidden;
  opacity: 0;
}

.modal-payment {
  position: fixed;
  width: 290px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease;
  visibility: visible;
  opacity: 1;
  padding: 1rem;
  background: white;
}

.modal-payment .relative-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal-payment h1 {
  margin-top: 0.5rem;
}

.modal-payment.closed {
  visibility: hidden;
  opacity: 0;
}

.modal-payment .closebtn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 2rem;
  color: red;
}

.modal-payment .closebtn svg * {
  cursor: pointer;
}

.modal-payment .pay-btn {
  width: 60%;
  min-width: 200px;
  display: block;
  margin: 0 auto;
  color: white;
  background: #5469d4;
  border: none;
  outline: none;
  padding: 0.7rem;
  border-radius: 4px;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.modal-payment .pay-btn.closed {
  animation: swallow 0.25s ease forwards;
}

.modal-payment .error {
  color: red;
}

@media (min-width: 800px) {
  .modal-payment {
    width: 500px;
  }
}

@keyframes swallow {
  0% {
    transform: scale(1, 1);
  }
  65% {
    transform: scale(1, 0.2);
  }
  100% {
    transform: scale(0, 0);
  }
}

.timeline {
  width: 80%;
  display: flex;
  margin: 1rem auto;
  margin-bottom: 0.5rem;
}

.timeline .line {
  width: 25%;
  height: 5px;
  background-color: grey;
}

.timeline .line.orange {
  background-color: orange;
}

.word-timeline {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.word-timeline .word-line {
  width: 25%;
  text-align: center;
}

.word-timeline .word-line.orange {
  color: orange;
}

@media (max-width: 500px) {
  .word-timeline .word-line {
    font-size: 0.85rem;
  }
}

#successAnimation {
  margin: 0 auto;
  display: block;
}

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: 300px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: 35px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawLine {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#successAnimationCircle {
  stroke-dasharray: 300px 300px;
  stroke: #005596;
}

#successAnimationCheck {
  stroke-dasharray: 35px 35px;
  stroke: #005596;
}

#successAnimation.animated {
  animation: 1s ease-out 0s 1 both scaleAnimation;
}

#successAnimation.animated #successAnimationCircle {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle;
}

#successAnimation.animated #successAnimationCheck {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck;
}

#animate {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  bottom: 100px;
  color: #005596;
  left: 50%;
  outline: 0;
  padding: 10px 30px;
  position: absolute;
  transform: translateX(-50%);
}

#animate:active {
  background: rgba(255, 255, 255, 0.1);
}

.container-details {
  position: relative;
}

.details-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  align-items: flex-start;
  min-height: 100vh;
}

.details-wrapper .img-wrapper {
  width: 95vw;
}

.details-wrapper .flex-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.details-wrapper .flex-container .description1 {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
  padding: 0.5rem;
  flex: 1;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.details-wrapper .flex-container .description2 {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
  padding: 0.5rem;
  border-radius: 0.5rem;
  flex: 1;
  padding-bottom: 1.5rem;
}

.details-wrapper .flex-container .description2 select {
  padding: 1rem;
  padding-right: 1.5rem;
}

.details-wrapper .button-pnp {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 0.3rem;
  border: 1px solid silver;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-family: Arial;
  cursor: pointer;
}

.altura--corr {
  position: relative;
  top: 3px;
}

@media (min-width: 700px) {
  .details-wrapper .img-wrapper {
    width: 50vw;
    max-height: 80vh;
    object-fit: contain;
  }
  .details-wrapper .flex-container {
    align-items: flex-start;
    align-items: stretch;
  }
}

@media (min-width: 980px) {
  .details-wrapper .flex-container .description1 {
    padding: 1rem;
    width: calc(350px + 10vw);
  }
  .details-wrapper .flex-container .description2 {
    padding: 1rem;
    width: calc(350px + 10vw);
  }
}

.reviews-container {
  position: relative;
  margin-bottom: -3rem;
}

.reviews-container h1 {
  margin-bottom: 0;
  text-align: center;
}

.reviews-container .reviews {
  padding: 0.5rem;
  padding-bottom: 0;
  padding-top: 0;
}

.reviews-container .reviews li {
  background-color: lightgoldenrodyellow;
  border-radius: 0.5rem;
  list-style: none;
  margin: 1rem auto;
  padding: 0.5rem;
}

.reviews-container .reviews li .comment {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.reviews-container .reviews li .review-item {
  display: flex;
  align-items: center;
}

.reviews-container .reviews li .author {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  text-align: right;
}

.review-btn {
  padding: 0.6rem 1.1rem;
  background: none;
  border: 1px solid silver;
  border-radius: 0.3rem;
  outline: none;
  cursor: pointer;
}

@media (min-width: 600px) {
  .reviews-container .reviews {
    padding: 2rem;
    padding-bottom: 0;
    padding-top: 0;
  }
}

@media (min-width: 900px) {
  .reviews-container .reviews li {
    width: 900px;
    padding: 1rem;
    margin: 1.8rem auto;
  }
}

@media (min-width: 1200px) {
  .reviews-container .reviews {
    padding: 4rem;
    padding-bottom: 0;
    padding-top: 0;
  }
  .reviews-container h1 {
    font-size: 3rem;
  }
}

html,
body {
  overflow: visible !important;
  position: relative;
}

body {
  padding: 0px !important;
}

body.no--pointers {
  pointer-events: none;
}

.shippingWrapper {
  min-height: 64vh;
}

.form {
  padding: 20px;
  border-radius: 0.3rem;
  width: 300px;
  margin: 0 auto;
  padding-bottom: 2rem;
  box-sizing: border-box;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.form .form-title {
  font-size: 28px;
  margin-bottom: 2rem;
}

.form .form-group {
  margin: 0.8rem 0;
  margin-bottom: 1.1rem;
}

.form .form-group:nth-last-of-type() {
  margin-bottom: 1.2rem;
}

.form .form-group.small-mb {
  margin-bottom: 1.5rem;
}

.form .form-group input.inline {
  width: auto;
  display: inline;
}

.form .form-group textarea {
  width: 100%;
  box-sizing: border-box;
  display: block;
  margin-top: 0.2rem;
  padding: 10px;
  border: 1px solid silver;
  border-radius: 0.3rem;
}

.form .form-group label.inline {
  width: auto;
}

.form .form-group select {
  cursor: pointer;
}

.form .button-pnp {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 0.3rem;
  border: 1px solid silver;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-family: Arial;
  cursor: pointer;
}

.form .button-pnp.with-loader {
  position: relative;
}

.form .button-pnp.create {
  margin-top: 2rem;
}

.form .placeholder-user {
  margin: 0.5rem;
}

.form.slim {
  width: 200px;
  font-size: 18px;
}

.form-signup .form-responsive-section:last-of-type {
  margin-bottom: 1.5rem;
}

.form-signup .form-responsive-section .form-group:last-of-type {
  margin-bottom: 0.8rem;
}

@media (min-width: 350px) {
  .form {
    box-sizing: content-box;
  }
}

@media (min-width: 750px) {
  .form {
    width: 320px;
  }
}

@media (min-width: 750px) {
  .form-signup {
    width: 700px;
  }
  .form-signup .form-title {
    margin-left: 25px;
  }
  .form-signup .form-responsive-section {
    display: flex;
    justify-content: space-around;
  }
  .form-signup .form-responsive-section .form-group {
    margin: 0.3rem;
  }
  .form-signup .form-responsive-section .form-group:last-of-type {
    margin-bottom: 0;
  }
  .form-signup .form-responsive-section .form-group input {
    width: 300px;
  }
  .form-signup .form-responsive-section .form-group select {
    display: block;
    width: 300px;
    margin-top: 0.2rem;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 0.3rem;
  }
  .form-signup .form-responsive-section .form-group textarea {
    width: 300px;
  }
  .form-signup .button-pnp {
    width: 93%;
    margin: 0 auto;
  }
  .form-signup .placeholder-user {
    margin-left: 25px;
  }
}

.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

.form .form-group.stock-field {
  width: 100px;
  margin: 0 auto;
  margin-top: 1.5rem;
}

@keyframes colors {
  0% {
    stroke: red;
  }
  14.285714286% {
    stroke: orange;
  }
  28.571428572% {
    stroke: yellow;
  }
  42.857142858% {
    stroke: green;
  }
  57.142857144% {
    stroke: blue;
  }
  71.42857143% {
    stroke: indigo;
  }
  100% {
    stroke: violet;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

footer {
  height: 7vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.svggWrapper {
  height: 90vh;
  position: relative;
}

.svggWrapper .luader {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes flashy {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

rect {
  animation: flashy 350ms infinite;
}

#aqua {
  animation-delay: 300ms;
}

#red {
  animation-delay: 50ms;
}

#green {
  animation-delay: 150ms;
}

.contain {
  position: relative;
  margin: 155px auto;
  width: 255px;
}

.kakaka {
  position: absolute;
}

.kakaka ellipse {
  transform-origin: center;
}

.kakaka:nth-of-type(1) ellipse {
  stroke: #f1725d;
  cx: 25px;
  stroke-width: 3px;
  animation: jump 600ms infinite ease-in-out;
  opacity: 0.7;
  animation-delay: 0ms;
}

.kakaka:nth-of-type(2) ellipse {
  stroke: #38bdab;
  cx: 65px;
  stroke-width: 3px;
  animation: jump 600ms infinite ease-in-out;
  opacity: 0.7;
  animation-delay: 75ms;
}

.kakaka:nth-of-type(3) ellipse {
  stroke: #9d30a5;
  cx: 105px;
  stroke-width: 3px;
  animation: jump 600ms infinite ease-in-out;
  opacity: 0.7;
  animation-delay: 150ms;
}

.kakaka:nth-of-type(4) ellipse {
  stroke: #b779e2;
  cx: 145px;
  stroke-width: 3px;
  animation: jump 600ms infinite ease-in-out;
  opacity: 0.7;
  animation-delay: 225ms;
}

.kakaka:nth-of-type(5) ellipse {
  stroke: #683893;
  cx: 185px;
  stroke-width: 3px;
  animation: jump 600ms infinite ease-in-out;
  opacity: 0.7;
  animation-delay: 300ms;
}

.kakaka:nth-of-type(6) ellipse {
  fill: #333333;
  opacity: 0.05;
  rx: 0;
  ry: 0;
  cx: 25px;
  cy: 48px;
  animation: shadow 600ms infinite ease-in-out;
  animation-delay: 0ms;
}

.kakaka:nth-of-type(7) ellipse {
  fill: #333333;
  opacity: 0.05;
  rx: 0;
  ry: 0;
  cx: 65px;
  cy: 48px;
  animation: shadow 600ms infinite ease-in-out;
  animation-delay: 75ms;
}

.kakaka:nth-of-type(8) ellipse {
  fill: #333333;
  opacity: 0.05;
  rx: 0;
  ry: 0;
  cx: 105px;
  cy: 48px;
  animation: shadow 600ms infinite ease-in-out;
  animation-delay: 150ms;
}

.kakaka:nth-of-type(9) ellipse {
  fill: #333333;
  opacity: 0.05;
  rx: 0;
  ry: 0;
  cx: 145px;
  cy: 48px;
  animation: shadow 600ms infinite ease-in-out;
  animation-delay: 225ms;
}

.kakaka:nth-of-type(10) ellipse {
  fill: #333333;
  opacity: 0.05;
  rx: 0;
  ry: 0;
  cx: 185px;
  cy: 48px;
  animation: shadow 600ms infinite ease-in-out;
  animation-delay: 300ms;
}

@keyframes jump {
  40% {
    transform: translateY(20px) scale(1.3);
    opacity: 0.9;
  }
  40% {
    rx: 10px;
    ry: 10px;
    stroke-width: 3px;
  }
  45% {
    rx: 15px;
    ry: 7px;
    stroke-width: 4px;
  }
  55% {
    rx: 10px;
    ry: 10px;
  }
}

@keyframes shadow {
  45% {
    opacity: 0.15;
    rx: 10px;
    ry: 3px;
    transform: translateY(0px) scale(1.3);
  }
}

.admin-wrapper .button-pnp {
  display: block;
  width: 300px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 0.3rem;
  border: 1px solid silver;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-family: Arial;
  cursor: pointer;
  margin: 0 auto;
}

.tag-color1 {
  border-radius: 2px;
  color: white;
  padding: 0px 3px;
  background-color: #00d1b2;
}

.tag-color2 {
  border-radius: 2px;
  color: white;
  padding: 0px 3px;
  background-color: #3298dc;
}

.tag-color3 {
  border-radius: 2px;
  color: white;
  padding: 0px 3px;
  background-color: crimson;
}

.userView-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5rem;
  margin: 0.5rem;
  align-items: center;
}

.userView {
  margin: 0;
  margin-bottom: 2rem;
}

#table-costumer {
  border-collapse: collapse;
  flex: 1;
}

#table-costumer td,
#table-costumer th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table-costumer th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

#table-costumer tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table-costumer tr:hover {
  background-color: #ddd;
}

.icons-wrapper {
  display: flex;
  justify-content: space-between;
}

.icons-wrapper .section a {
  display: flex;
  padding: 0.5rem;
  transform: rotateX(-90deg);
  transform-origin: top;
  animation: rotateIn 0.5s ease 0.5s forwards;
  border: 1px solid crimson;
  background-color: white;
  text-decoration: none;
}

.icons-wrapper .section a.right {
  padding: 6px;
  padding-bottom: 5px;
}

.icons-wrapper .section a .arrow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.icons-wrapper .section a .arrow-container p {
  margin: 0;
  margin-top: 5px;
}

.icons-wrapper .section a .arrow-container.left {
  margin-right: 1rem;
}

.icons-wrapper .section a .arrow-container.right {
  margin-left: 0.5rem;
}

@media (min-width: 700px) {
  .icons-wrapper {
    display: none;
  }
  .userView-wrapper {
    margin: 1rem;
    flex-direction: row;
    align-items: flex-start;
  }
  .userView {
    margin-right: 0.5rem;
  }
}

@media (min-width: 1000px) {
  .userView-wrapper {
    margin: 2rem calc(1.5rem + 5%);
  }
  .userView {
    margin-right: calc(1rem + 5%);
  }
}

@keyframes rotateIn {
  from {
    transform: rotateX(-90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.slide {
  height: 600px;
  width: 100%;
  background-color: red;
}

.slide.blue {
  background-color: blue;
}

.carousel-container ul {
  height: 600px;
}

.carousel-container ul li {
  height: 100%;
}

.carousel-container ul li div {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 222;
}

.carousel-container.up {
  z-index: -9999;
  position: absolute;
}

.slidd {
  position: relative;
}

@keyframes arrow {
  30% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes btnarrow {
  30% {
    transform: scaleY(3);
  }
  100% {
    transform: scaleY(10);
  }
}

.wrapper-carru {
  position: relative;
}

.wrapper-carru .buton-shop {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: top;
  padding: 1rem;
  height: auto;
  position: absolute;
  mix-blend-mode: overlay;
  border: 5px solid red;
}

.wrapper-carru .buton-shop .text {
  color: red;
  font-size: 3rem;
}

.wrapper-carru .buton-shop .ensanchador {
  animation: btnarrow 2s ease infinite;
  height: 5px;
}

.wrapper-carru .buton-shop + svg {
  fill: red;
  animation: arrow 2s ease infinite;
}

@media (min-width: 1200px) {
  .userView {
    margin-right: 2.5rem;
  }
}

.breadcrumb {
  margin-left: 10px;
  position: relative;
  z-index: 1;
  margin-left: 10px !important;
}

.breadcrumb ol {
  flex-wrap: nowrap;
}

.loader-placer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
}
