.timeline {
  width: 80%;
  display: flex;
  margin: 1rem auto;
  margin-bottom: 0.5rem;
}

.timeline .line {
  width: 25%;
  height: 5px;
  background-color: grey;
}

.timeline .line.orange {
  background-color: orange;
}

.word-timeline {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.word-timeline .word-line {
  width: 25%;
  text-align: center;
}

.word-timeline .word-line.orange {
  color: orange;
}

@media (max-width: 500px) {
  .word-timeline .word-line {
    font-size: 0.85rem;
  }
}
