.timeline {
    width: 80%;
    display: flex;
    margin: 1rem auto;
    margin-bottom: 0.5rem;
    .line {
        width: 25%;
        height: 5px;
        background-color: grey;

        &.orange {
            background-color: orange;
        }
    }
    
}

.word-timeline {
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 2rem;
    .word-line {
        width: 25%;
        text-align: center;

        &.orange {
            color: orange;
        }
    }

    // text-align: center;

    // &:first-of-type{
    //     text-align: left;
    // }

    // &:last-of-type {
    //     text-align: right;
    // }
}

@media (max-width: 500px){

    .word-timeline{
        .word-line{
            font-size: 0.85rem;
        }
    }
}

