header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #444054;
  position: relative;
  z-index: 100;
  margin: 0;
  .logo {
    font-size: 1.5rem;
    color: white;
  }

  .burger {
    cursor: pointer;
    display: block;
    transition: transform 0.4s ease;
    fill: white;

    &.close {
      transform: translateY(-70px);
    }
  }

  nav {
    display: none;
    li {
      list-style: none;
      color: white;
    }

    .dropdown-list {
      opacity: 0;
      padding: 0;
    }
  }
}

@media (min-width: 500px) {
  header {
    justify-content: flex-start;

    .logo {
      flex: 2;
    }

    .burger {
      display: none;
    }

    nav {
      display: block;
      position: relative;
      flex: 1;
      margin: 0;
      .nav-list {
        display: flex;
        margin-right: 2rem;
        align-items: center;
        margin: 0;


        .nav-item {
          flex: 1;
          // margin: auto 10px;
          cursor: pointer;
          position: relative;
          align-self: stretch;
          justify-content: center;
          border-left: 1px solid white;
          
          padding: 0 1rem;

          &.with-cart{
            display: flex;
            align-items: center;
            justify-content: center;
            div{
              transform: translateX(25px);
              background-color: #ff6868;
              border-radius: 50%;
              height: 20px;
              width: 15px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          .text-center {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          a {
            text-decoration: none;
            color: white;
            transition: color 0.2s ease;

            &:hover {
              color: orange;
            }
          }
          
          .dropdown-list {
            position: absolute;
            opacity: 0;
            transition: opacity 0.1s ease;
            visibility: hidden;
            border: none;
             ul{
              background-color: #444054;
              padding: 1rem;
              border-radius: 5px;
            
          
              width: 100px;
              transform: translate(-17px, 15px);
            
              border: none;
             }

            &::before{
              content: "";
              position: absolute;
              width: 0; 
              height: 0; 
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 15px solid #444054;
            }

            &.open {
              opacity: 1;
              visibility: visible;
            }

            li {
              margin: 1rem auto;
            }
          }
        }
      }
    }
  }
}

.movile-dropdown {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  transform: translateX(280px);
  width: 200px;
  background-color: lightblue;
  margin-top: 0;
  padding: 1rem 1.5rem;
  transition: transform 0.5s ease;

  &.open {
    transform: translateX(0px);
  }

  li {
    list-style: none;
    cursor: pointer;
    margin: 1.5rem auto;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    &.arrow {
      margin-bottom: 1rem;
      font-size: 2rem;
    }
    a {
      text-decoration: none;
      transition: color 0.2s ease;
      color: white;

      &:hover {
        color: orange;
      }
    }
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(200px);
  }

  to {
  }
}
